{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-async-to-generator",
    "transform-runtime",
    "transform-class-properties"
  ],
  "env": {
    "modules": false
  }
}